.container {
  height: 100vh;
  background-color: #20272d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 2rem;
  }

  h2 {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 3rem;
  }
}
